<mat-toolbar color='primary'>
  Pin Board
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm" cdkDropList #toDoColumn="cdkDropList" [cdkDropListData]="toDo"
      [cdkDropListConnectedTo]="[inProgressColumn]" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of toDo" cdkDrag>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
        <mat-card-content>{{item.content}}</mat-card-content>
      </mat-card>

    </div>
    <div class="col-sm" cdkDropList #inProgressColumn="cdkDropList" [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[toDoColumn]" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of inProgress" cdkDrag>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
          <mat-card-content>{{item.content}}</mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>