<mat-toolbar color='primary'>Pin Board</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-card>
        <mat-card-title>Some title</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>2nd title</mat-card-subtitle>
        <mat-card-content>Text Text Text Text Text Text Text Text Text </mat-card-content>
      </mat-card>
      
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
